<div class="">
    <div class="footer">
        <p class="area-copyright">
            <a href="http://www.gamasaude.com.br/" target="_blank">
                <span class="footer-gama centered-horizontal"></span>
            </a>
        </p>
    </div>
</div>