.footer-gama {
    margin: auto;
    display: inline-block;
    width: 80px;
    height: 51px;
    background: url("../../../content/images/gama.jpg") no-repeat center top;
    background-size: contain;
}

.area-copyright {
    margin-top: 16px;
}