@import '../../../content/scss/theme-variables';

#content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 561px) {
    #page-wrapper.open {
        padding-left: 250px;
    }
}

@media only screen and (max-width: 560px) {
    #page-wrapper.open {
        padding-left: 70px;
    }
}

#page-wrapper.open #sidebar-wrapper {
    left: 150px;
}

/**
 * Hamburg Menu
 * When the class of 'hamburg' is applied to the body tag of the document,
 * the sidebar changes it's style to attempt to mimic a menu on a phone app,
 * where the content is overlaying the content, rather than push it.
 */
@media only screen and (max-width: 560px) {
    body.hamburg {
        #page-wrapper {
            padding-left: 0;
            &:not(.open) {
                #sidebar-wrapper {
                    position: absolute;
                    left: -100px;
                }
                ul.sidebar .sidebar-title.separator {
                    display: none;
                }
            }
            &.open #sidebar-wrapper {
                position: absolute;
                ul.sidebar li.sidebar-main {
                    margin-left: 0;
                }
            }
        }
        #sidebar-wrapper ul.sidebar li.sidebar-main, .row.header .meta {
            margin-left: 70px;
        }
        #sidebar-wrapper ul.sidebar li.sidebar-main, #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
            transition: margin-left 0.4s ease 0s;
        }
    }
}

/**
 * Header
 */

.row.header {
    height: 60px;
    background: $side-dropdown-bg-color;
    margin-bottom: 15px;
    > div:last-child {
        padding-right: 0;
    }
    .meta {
        .page {
            font-size: 17px;
            padding-top: 11px;
        }
        .breadcrumb-links {
            font-size: 10px;
        }
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .login a {
        padding: 18px;
        display: block;
    }
    .user {
        min-width: 130px;
        > .item {
            width: 65px;
            height: 60px;
            float: right;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            a {
                color: $font-color-nav;
                display: block;
            }
            i {
                font-size: 20px;
                line-height: 55px;
            }
            img {
                width: 40px;
                height: 40px;
                margin-top: 10px;
                border-radius: 2px;
            }
            ul.dropdown-menu {
                border-radius: 2px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
                .dropdown-header {
                    text-align: center;
                }
                li.link {
                    text-align: left;
                    a {
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
                &:before {
                    position: absolute;
                    top: -7px;
                    right: 23px;
                    display: inline-block;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
                    border-left: 7px solid transparent;
                    content: '';
                }
                &:after {
                    position: absolute;
                    top: -6px;
                    right: 24px;
                    display: inline-block;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid $header-border-color;
                    border-left: 6px solid transparent;
                    content: '';
                }
            }
        }
    }
}

.loading {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/* Fonts */
@font-face {
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* Base */

html {
    overflow-y: scroll;
}

body {
    background: $body-bg-color;
    color: $font-color-bg !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    > div {
        margin-bottom: 15px;
    }
}

.alerts-container .alert:last-child {
    margin-bottom: 0;
}

#page-wrapper {
    padding-left: 70px;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -150px;
    left: -30px;
    width: 250px;
    position: absolute;
    height: 100%;
    z-index: 999;
}

#page-wrapper, #sidebar-wrapper {
    transition: all .4s ease 0s;
}

.form-group .help-block.form-group-inline-message {
    padding-top: 5px;
}

div.input-mask {
    padding-top: 7px;
}


/**
 * Sidebar
 */

#sidebar-wrapper {
    background: $bg-color;
}

ul.sidebar .sidebar-main a, .sidebar-footer, #page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    /* Sidebar header and footer color */
    background: $bg-color;
}

ul.sidebar {
    position: absolute;
    top: 15px;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    li a {
        color: $font-color-nav;
        display: block;
        float: left;
        text-decoration: none;
        width: 250px;
    }
    .sidebar-main {
        height: 65px;
        a {
            font-size: 18px;
            line-height: 60px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .sidebar-title {
        color: $font-color-nav-title;
        font-size: 12px;
        height: 35px;
        line-height: 40px;
        text-transform: uppercase;
        transition: all .6s ease 0s;
    }
}

.sidebar-footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all .6s ease 0s;
    text-align: center;
    div a {
        color: $font-color-nav-footer;
        font-size: 12px;
        line-height: 43px;
        &:hover {
            color: $font-color-nav-hover;
            text-decoration: none;
        }
    }
}

.widget {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background: $font-color-nav;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: $widget-border-color;
    .widget-header .pagination, .widget-footer .pagination {
        margin: 0;
    }
    .widget-header {
        color: $widget-header-color;
        background-color: $widget-header-bg;
        padding: 10px 15px;
        border-bottom: 1px solid $widget-border-color;
        line-height: 30px;
        i {
            margin-right: 5px;
        }
    }
    .widget-body {
        padding: 20px;
        table {
            thead {
                background: $font-color-nav;
                * {
                    font-size: 14px !important;
                }
            }
            tbody * {
                font-size: 13px !important;
            }
        }
        .error {
            color: $error-color;
        }
        button {
            margin-left: 5px;
        }
        div.alert {
            margin-bottom: 10px;
        }
        &.large {
            height: 350px;
            overflow-y: auto;
        }
        &.medium {
            height: 250px;
            overflow-y: auto;
        }
        &.small {
            height: 150px;
            overflow-y: auto;
        }
        &.no-padding {
            padding: 0;
            .error, .message {
                padding: 20px;
            }
        }
    }
    .widget-footer {
        border-top: 1px solid $widget-border-color;
        padding: 10px;
    }
    .widget-icon {
        background: $bg-color;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        margin-right: 15px;
        i {
            line-height: 66px;
            color: $font-color-nav;
            font-size: 30px;
        }
    }
    .widget-footer {
        border-top: 1px solid $widget-border-color;
        padding: 10px;
    }
    .widget-title .pagination, .widget-footer .pagination {
        margin: 0;
    }
    .widget-content .title {
        font-size: 28px;
        display: block;
    }
}
