﻿<div class="page-side-wrapper" *ngIf="isAuthenticated()">
    <div id="page-wrapper" [ngClass]="{'open': sidebarService.toggle}">
        <div id="sidebar-wrapper" class="ui-shadow">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a class="link" (click)="sidebarService.toggleSidebar()" [ngSwitch]="getModulo()">
                        <span jhiTranslate="global.menu.modulos.seumodulo"></span>
                        <i class=" toogle-icon fa fa-navicon" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="sidebar-title">
                    <span jhiTranslate="global.menu.navegacao">MENU</span>
                </li>
                <jhi-side-navbar-item *ngFor="let item of items" [item]="item" [menuRoot]="true"></jhi-side-navbar-item >
            </ul>
        </div>
    </div>
</div>