﻿@import '../../../content/scss/theme-variables';

#page-wrapper:not(.open) {
    #sidebar-wrapper li {
        list-style: none;
        position: relative;
    }

    #sidebar-wrapper li li {
        list-style: none;
        position: relative;
        top: -27px;
    }

    #sidebar-wrapper ul li a {
        display: block;
        text-decoration: none;
        padding-top: 6px;
    }

    #sidebar-wrapper ul li:hover ul {
        visibility: visible;
    }

    ul.sidebar {
        .toogle-icon {
            float: right;
            font-size: 18px;
            padding-right: 26px;
            padding-top: 21px;
        }
        .sidebar-title {
            display: none;
            height: 0;
            text-indent: -100px;
            &.separator {
                display: block;
                height: 2px;
                margin: 13px 0;
            }
        }
        .sidebar-list {
            height: 40px;
            a {
                text-indent: 25px;
                font-size: 15px;
                color: $font-color-side-list;
                height: 100%;
                &:hover {
                    color: $font-color-nav-hover;
                    border-left: 3px solid $side-nav-border-color-1;
                    text-indent: 22px;
                    background-color: $side-nav-hover-bg;
                }
            }
            .menu-icon {
                font-size: 20px;
                width: 70px;
                float: right;
                padding-top: 10px;
            }

            .list-group-item {
                cursor: pointer;
            }
            ul.submenu {
                list-style-type: none;
                padding-left: 0px;
                display: none;
            }
            &:hover {
                .menu-box {
                    position: fixed;
                    height: 0;
                    ul.submenu {
                        top: 28px;
                        display: block;
                        left: 250px;
                        position: absolute;
                        visibility: hidden;
                        a {
                            background-color: $side-dropdown-bg-color;
                        }
                        a:hover {
                            background-color: $side-dropdown-bg-hover-color;
                            -webkit-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                        }

                    }

                    .box-title {
                        background-color: $side-dropdown-sidetitle-bg-color;
                        color: $font-color-nav;
                        min-width: 150px;
                        padding-left: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }

            }
        }

    }
    .sidebar-footer {
        display: none;
    }
}

#page-wrapper.open {
    .box-title {
        visibility: hidden;
        height: 0;
    }
    .drop-icon {
        float: right;
        padding-right: 20px;
        padding-top: 10px;
    }

    ul.sidebar {
        .toogle-icon {
            float: right;
            font-size: 18px;
            padding-right: 28px;
            line-height: 60px;
        }
        .sidebar-list {
            height: 40px;
            a {
                text-indent: 25px;
                font-size: 15px;
                color: $font-color-side-list;
                line-height: 40px;
                &:hover {
                    color: $font-color-nav-hover;
                    border-left: 3px solid $side-nav-border-color-2;
                    text-indent: 22px;
                    background-color: $side-nav-hover-bg;
                }
            }
            .menu-icon {
                font-size: 20px;
                padding-right: 29px;
                line-height: 40px;
                width: 40px;
                float: left;
            }

            .list-group-item {
                cursor: pointer;
            }
            .nested {
                list-style-type: none;
            }
            ul.submenu {
                padding-left: 0px;

                &.expand {
                    display: block;
                    list-style-type: none;
                    height: auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    li {
                        a {
                            background-color: $side-nav-submenu-bg;
                            color: $font-color-nav;
                            display: block;
                            &:hover {
                                color: $font-color-nav-hover;
                                border-left: 5px solid $bg-color-secundary;
                                text-indent: 22px;
                                background-color: $side-nav-hover-bg;
                            }
                        }
                    }
                }
                &:not(.expand) {
                    display: none;
                    height: 0;
                    padding-left: 0px;
                }
            }
        }

    }
}

ul.sidebar {
    position: absolute;
    top: 15px;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    li a {
        color: $font-color-nav;
        display: block;
        float: left;
        text-decoration: none;
        width: 250px;
    }
    .sidebar-main {
        height: 65px;
        a {
            font-size: 18px;
            line-height: 60px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .sidebar-title {
        color: $font-color-nav-title;
        font-size: 12px;
        height: 35px;
        line-height: 40px;
        text-transform: uppercase;
        transition: all .6s ease 0s;
    }
}
