﻿<div *jhiHasAnyAuthority="item.role">
        <li class="sidebar-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="(item.lista.length == 0) && (item.modulo.indexOf(getModulo()) > -1)">
            <a routerLink="{{item.caminho}}">
                <i *ngIf="item.icon" class=" menu-icon fa" [ngClass]="item.icon" aria-hidden="true"></i>
                <span jhiTranslate="{{item.nomeTradutor}}">{{item.nome}}</span>
            </a>
            <div class="menu-box" *ngIf="menuRoot">
                <ul class="submenu" [class.expand]="showMenu === item.nome">
                    <li class="box-title">
                        <span jhiTranslate="{{item.nomeTradutor}}">{{item.nome}}</span>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list" *ngIf="(item.lista.length > 0) && (item.modulo.indexOf(getModulo()) > -1)">
            <a (click)="addExpandClass(item.nome)">
                <i class=" menu-icon fa " [ngClass]="item.icon" aria-hidden="true"></i>
                <span jhiTranslate="{{item.nomeTradutor}}">{{item.nome}}</span>
                <i class="fa fa-caret-down drop-icon" aria-hidden="true"></i>
            </a>
            <div class="menu-box">
                <ul class="submenu" [class.expand]="showMenu === item.nome">
                    <li class="box-title">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <span jhiTranslate="{{item.nomeTradutor}}">{{item.nome}}</span>
                    </li>
                    <jhi-side-navbar-item *ngFor="let sub of item.lista" [item]="sub"></jhi-side-navbar-item>
                </ul>
            </div>
        </li>
    </div>
    