<button type="button" class="go-top-button" title="{{'global.goTop' | translate}}"
        (click)="scrollTop($event)" [ngClass]="scrollState">
        <span class="fa fa-arrow-up arrowColor">
        </span>
</button>
