<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid page-content" [ngClass]="{'open': sidebarService.toggle && isAuthenticated() , 'closed': !isAuthenticated()}">
    <jhi-side-navbar></jhi-side-navbar>
    <!--<div class="card jh-card">-->
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
    <!--</div>-->
    <jhi-footer></jhi-footer>
    <jhi-go-top-button></jhi-go-top-button>
</div>