.page-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: calc(100% - 62px);

    &.open {
        padding-left: 265px;
    }

    &:not(.closed) {
        &:not(.open) {
            padding-left: 80px;
        }
    }
}
