@import '../../../content/scss/theme-variables';


/* ==========================================================================
Navbar
========================================================================== */
.jh-navbar {
    //background: linear-gradient(230deg, #006E9D 19%, #FF8F7F 82%);
    background: $top-background-color;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .navbar-version {
    font-size: 10px;
    color: $font-color-nav;
}
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: $side-dropdown-bg-color;
    }
    .dropdown-item.active{
        color:$font-color-nav !important;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: $font-color-nav;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: $font-color-nav-hover;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: $font-color-nav;
}

.nav-link {
    color: $font-color-nav;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
        }
    }
}

.navbar-fix-menu-right {
	left: auto !important;
}



#modalCadastro {
    z-index: 16000002;
}
.modal-body{
    height: 100%;
}
.modal-content{
    height: 40%;
    widows: 100%;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;*/
}