<jhi-growl></jhi-growl>
<jhi-growl-error></jhi-growl-error>

<nav class="navbar navbar-inverse navbar-expand-md jh-navbar ui-shadow">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="irPortal()">
            <span jhiTranslate="global.title" class="navbar-title">QSaudeSeuModuloWeb</span>
        </a>
    </div>

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li [ngSwitch]="isAuthenticated()" ngbDropdown class="nav-item dropdown pointer" (click)="flagModulos = true" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.modulos.main">Modulos</span>
                    </span>
                </a>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngSwitch]="isAuthenticated()"
                *ngIf="isAuthenticated()">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <span>{{account.body.firstName}}</span>
                        <span class="caret"></span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right navbar-fix-menu-right" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="sidebar-modulos">
    <p-sidebar [(visible)]="flagModulos" [fullScreen]="true">
        <iframe height="93%" width="100%" frameborder="0" [src]="urlPortalWeb"></iframe>
    </p-sidebar>
</div>