
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

.logo-main-gama {
	width: 100%;
	text-align: center;
}

.logo-gama {
    display: inline-block;
    background: url("../../content/images/logo-gama.png") no-repeat center top;
    width: 333px;
    height: 114px;
    background-size: contain;
    text-align: center;
}

.home-title {
    text-align: center;
    line-height: 1.9;
    font-size: 3.0rem;
}

.home-descricao {
    text-align: center;
    line-height: 1.9;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}