<div class="card jh-card">
    <div class="row">
        <div class="col-md-12">
            <div class="logo-main-gama">
                <span class="logo-gama"></span>
            </div>

            <h1 class="display-4 home-title" jhiTranslate="home.title">Projeto Q-Saúde</h1>
            <h2 jhiTranslate="home.descricao" class="home-descricao">Descrição do Projeto</h2>
        </div>
    </div>
</div>
