/*
* Bootstrap overrides https://v4-alpha.getbootstrap.com/getting-started/options/
* All values defined in bootstrap source
* https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss can be overwritten here
* Make sure not to add !default to values here
*/

// Colors:
// Grayscale and brand colors for use across Bootstrap.

$brand-primary:             #3E8ACC;
$brand-success:             #28a745;
$brand-info:                #17a2b8;
$brand-warning:             #ffc107;
$brand-danger:              #dc3545;

// Button Colors:
$color-button-crud-list:         #404040;
$color-button-crud-list-hover:   #07689f;

// Options:
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Components:
// Define common padding and border radius sizes and more.

$border-radius:          .15rem;
$border-radius-lg:       .125rem;
$border-radius-sm:       .1rem;

// Body:
// Settings for the `<body>` element.

// $body-bg:                   #e4e5e6;
$body-bg:                   #ffffff;

// Typography:
// Font, line-height, and color for body text, headings, and more.

$font-size-base:            1rem;