/* Cores
*/
$body-bg-color: #DEDEDE;
$bg-color-secundary: #FFFFFF;
$bg-color: #07689f;
$bg-transparent: transparent!important;

//$gama-background-color: linear-gradient(15deg, #07689f, #F2967C);
$gama-background-color: linear-gradient(73deg, #FF8F7F 21%, #8284B7 68%);
// $top-background-color: linear-gradient(45deg, #2979ff, #FF8F7F);
$top-background-color: linear-gradient(230deg, #006E9D 19%, #FF8F7F 82%);


$side-dropdown-bg-color: #00477E;
$side-dropdown-sidetitle-bg-color: #07689f;
$side-dropdown-bg-hover-color: #283593;

$header-border-color: #ffffff;

$font-color-nav-hover: #ffffff;
$font-color-nav-title: #ffffff;
$font-color-nav-footer: #b2bfdc;
$font-color-nav: #ffffff;
$font-color-bg: #333333;
$font-color-side-list: #ffffff;
$font-color-error: #ffffff;
$font-color-readonly: #eeeeee;
$font-color-entity-detail: #eeeeee;

$side-nav-border-color-1: #8784BD;
$side-nav-border-color-2: #48C7F2;
$side-nav-hover-bg: #283593;
$side-nav-submenu-bg: #00477E;

$widget-border-color: #e9e9e9;
$widget-header-color: #767676;
$widget-header-bg: #0D47A1;

$error-color: #ff0000;


$validation-error: red;
$validation-success: green;