﻿@import 'bootstrap-variables';
@import 'theme-variables';
@import 'animatecss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html, .row, .col {
    margin: 0;
    padding: 0;
}

body,
body .ui-widget,
body .ui-widget .ui-widget, 
body .ui-widget input, 
body .ui-widget select, 
body .ui-widget textarea, 
body .ui-widget button,
body .ui-inputtext, 
body .ui-dropdown,
body .ui-dropdown-items,
body .ui-dropdown-items-wrapper,
h1, h2, h3, h4, h5,
.btn  {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background: $bg-color-secundary;
    height: 100vh;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #777777;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

a {
    outline: 0;
}

a:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

strong, b {
    font-weight: bold;
}

.bloco-conteudo {
    margin-top: 5px;
    padding-top: 0;
    padding-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */
.ng-invalid:not(form) {
    border-left: 5px solid $validation-error !important;
}

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
    margin-bottom: 20px;
}

.error {
    color: $font-color-error;
    background-color: $error-color;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: $font-color-readonly;
    opacity: 1;
}

.hand, [jhisortby] {
    cursor: pointer;
}

.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-margin($side) {
    @if $side == 'all' {
        .no-margin {
            margin: 0 !important;
        }
    } @else {
        .no-margin#{$side} {
            margin-#{$side}: 0 !important;
        }
    }
}

@include no-margin("left");
@include no-margin("right");
@include no-margin("top");
@include no-margin("bottom");
@include no-margin("all");

.width-min {
    width: 1% !important;
}

.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid $font-color-entity-detail;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.table-responsive {
    overflow: auto !important;
}

.ng-invalid:not(form), .ng-valid[required], .ng-valid.required {
    display: block;
}

hr {
    height: 2px;
    width: 100% !important;
    background-color: rgb(199, 199, 199) !important;
}

/* ==========================================================================
Alinhamentos
========================================================================== */
.text-center {
    text-align: center;
}

.align-right {
	text-align: right;
}

.centered-horizontal {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    align-items: center;
    -webkit-align-items: center;
}

/* ==========================================================================
Margins
========================================================================== */
.mt0 {
    margin-top: 0px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

/* ==========================================================================
Paddings
========================================================================== */
.pt0 {
    padding-top: 0px;
}

.pb0 {
    padding-bottom: 0px;
}

.pr0 {
    padding-right: 0px;
}

.pl0 {
    padding-left: 0px;
}


/* ==========================================================================
Buttons
========================================================================== */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.41rem !important;
    font-size: 0.8125rem !important;
    line-height: 1.5;
    border-radius: 0 !important;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn:hover {
    text-decoration: none;
    cursor: pointer;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}

.btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active {
    background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0c83e2;
    border-color: #0c7cd5;
}

.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #2196F3;
    border-color: #2196F3;
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #0b75c9;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
}

button:focus, button:active, button:hover {
    outline: none !important;
}

.btn-secondary {
    color: #111;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:hover {
    color: #111;
    background-color: #ececec;
    border-color: #e6e5e5;
}

.btn-secondary:focus, .btn-secondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #111;
    background-color: #e6e5e5;
    border-color: #dfdfdf;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-success:hover {
    color: #fff;
    background-color: #409444;
    border-color: #3d8b40;
}

.btn-success:focus, .btn-success.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #3d8b40;
    border-color: #39833c;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

.btn-info {
    color: #fff;
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.btn-info:hover {
    color: #fff;
    background-color: #802091;
    border-color: #771e86;
}

.btn-info:focus, .btn-info.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #771e86;
    border-color: #6e1b7c;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-warning {
    color: #111;
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-warning:hover {
    color: #fff;
    background-color: #d98100;
    border-color: #cc7a00;
}

.btn-warning:focus, .btn-warning.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-warning:not([disabled]):not(.disabled):active, .btn-warning:not([disabled]):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #cc7a00;
    border-color: #bf7200;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
}

.btn-danger {
    color: #fff;
    background-color: #e51c23;
    border-color: #e51c23;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c4161d;
    border-color: #b9151b;
}

.btn-danger:focus, .btn-danger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: #e51c23;
    border-color: #e51c23;
}

.btn-danger:not([disabled]):not(.disabled):active, .btn-danger:not([disabled]):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #b9151b;
    border-color: #ad1419;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
}

.btn-light {
    color: #111;
    background-color: #fff;
    border-color: #fff;
}

.btn-light:hover {
    color: #111;
    background-color: #ececec;
    border-color: #e6e5e5;
}

.btn-light:focus, .btn-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
    background-color: #fff;
    border-color: #fff;
}

.btn-light:not([disabled]):not(.disabled):active, .btn-light:not([disabled]):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #111;
    background-color: #e6e5e5;
    border-color: #dfdfdf;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-dark {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.btn-dark:hover {
    color: #fff;
    background-color: #0f0f0f;
    border-color: #090808;
}

.btn-dark:focus, .btn-dark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
    background-color: #222;
    border-color: #222;
}

.btn-dark:not([disabled]):not(.disabled):active, .btn-dark:not([disabled]):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #090808;
    border-color: #020202;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-outline-primary {
    color: #2196F3;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #2196F3;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #2196F3;
    background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
}

.btn-outline-secondary {
    color: #fff;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #fff;
    background-color: transparent;
}

.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-success {
    color: #4CAF50;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #4CAF50;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #4CAF50;
    background-color: transparent;
}

.btn-outline-success:not([disabled]):not(.disabled):active, .btn-outline-success:not([disabled]):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

.btn-outline-info {
    color: #9C27B0;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #9C27B0;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #9C27B0;
    background-color: transparent;
}

.btn-outline-info:not([disabled]):not(.disabled):active, .btn-outline-info:not([disabled]):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #9C27B0;
    border-color: #9C27B0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.5);
}

.btn-outline-warning {
    color: #ff9800;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #ff9800;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #ff9800;
    background-color: transparent;
}

.btn-outline-warning:not([disabled]):not(.disabled):active, .btn-outline-warning:not([disabled]):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.5);
}

.btn-outline-danger {
    color: #e51c23;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #e51c23;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #e51c23;
    border-color: #e51c23;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #e51c23;
    background-color: transparent;
}

.btn-outline-danger:not([disabled]):not(.disabled):active, .btn-outline-danger:not([disabled]):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #e51c23;
    border-color: #e51c23;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(229, 28, 35, 0.5);
}

.btn-outline-light {
    color: #fff;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #fff;
}

.btn-outline-light:hover {
    color: #212121;
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-light:focus, .btn-outline-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #fff;
    background-color: transparent;
}

.btn-outline-light:not([disabled]):not(.disabled):active, .btn-outline-light:not([disabled]):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
    color: #212121;
    background-color: #fff;
    border-color: #fff;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-dark {
    color: #222;
    background-color: $bg-transparent;
    background-image: none;
    border-color: #222;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #222;
    background-color: transparent;
}

.btn-outline-dark:not([disabled]):not(.disabled):active, .btn-outline-dark:not([disabled]):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #222;
    border-color: #222;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}

.btn-link:disabled, .btn-link.disabled {
    color: #666666;
}

.btn-cinza {
    color: #222!important;
    background-color: lightgrey!important;
    border-color: lightgrey!important;
}

.btn-cinza:hover {
    color: #fff!important;
    background-color: rgb(160, 159, 159)!important;
    border-color: #707070!important;
}

.btn-cinza.disabled, .btn-cinza:disabled {
    background-color: rgb(133, 132, 132);
    border-color: rgb(133, 132, 132);
}

.btn-cinza:not([disabled]):not(.disabled):active, .btn-cinza:not([disabled]):not(.disabled).active,
.show > .btn-cinza.dropdown-toggle {
    color: #fff;
    background-color: rgb(138, 137, 137)!important;
    border-color: rgb(128, 127, 127)!important;
}

.btnDisabled {
    opacity: 0.5;
    pointer-events: none;
}

/* ==========================================================================
Inputs
========================================================================== */
body .ui-widget input, 
body .ui-inputtext, 
body .ui-widget textarea,
body .ui-dropdown,
body .ui-dropdown-items {
	text-decoration: none;
	font-size: 1em;
	width: 100% !important;
}

.ui-widget input, 
body .ui-inputtext, 
body .ui-widget textarea {
    font-weight: normal;
    text-indent: 2px !important;
    border: 2px solid rgb(185, 185, 185);
    background: rgb(211, 211, 211) !important;
    color: #000000 !important;
    border-radius: 0;
}

.ui-dropdown {
    height: auto;
    background: transparent !important;
    border: none !important;
}

.ui-dropdown .ui-dropdown-label,
body .ui-dropdown.ui-state-focus .ui-dropdown-label.ui-inputtext {
    width: 100% !important;
    min-width: 110px;
	border: 2px solid #b9b9b9;
}

body .ui-dropdown .ui-dropdown-trigger {
    background-color: #D3D3D3;
    border: 2px solid #b9b9b9;
    border-left: none;
}

body .ui-dropdown .ui-dropdown-trigger .fa {
    color: #55595c;
    margin-top: .30em !important;
    background: transparent !important;
}

.ui-dropdown-items-wrapper {
    line-height: 25px;
}

.ui-dropdown-item, .ui-dropdown-item.ui-state-highlight {
    height: 25px;
    width: 100%;
}

.ui-dropdown-items {
    background-color: #0275d8;
    min-width: 90px;
    overflow-y: hidden;
    height: auto;
}

/* Para remover o X dos dropdowns */
.ui-dropdown .ui-dropdown-clear-icon {
    display: none !important;
} 

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.show {
    opacity: 1;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

tr.collapse.show {
    display: table-row;
}

tbody.collapse.show {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

/* ==========================================================================
Componente calendário
========================================================================== */
.calendario {
    max-width: 89%;
}

.ui-calendar {
    width: 100%;
}

/* ==========================================================================
Componente de Tabs
========================================================================== */
.ui-tabview-title {
    vertical-align: middle;
    font-family: 'Telex', sans-serif !important;
    font-size: 14px;
}

.ui-tabview {
    margin: 0px !important;
    padding: 0 !important;
}

.ui-tabview-top {
    margin: 0px !important;
    padding: 0 !important;
}

.ui-tabview-nav li {
    margin: 0px !important;
    padding: 0 !important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #0275d8;
    border-color: #0275d8;
    border-radius: 0px;
    font-family: 'Telex', sans-serif !important;
    font-size: 14px;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    margin-right: 0em;
    -moz-border-radius-topleft: 0em;
    -webkit-border-top-left-radius: 0em;
    border-top-left-radius: 0em;
    -moz-border-radius-topright: 0em;
    -webkit-border-top-right-radius: 0em;
    border-top-right-radius: 0em;
    padding: 0 !important;
}

.ui-tabview-nav {
    margin: 30px;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #0275d8;
    border-color: #0275d8;
    color: #FFFFFF !important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav,
body .ui-tabview.ui-tabview-left .ui-tabview-nav,
body .ui-tabview.ui-tabview-right .ui-tabview-nav {
    padding: 0;
    border: 0 none;
    background: #ffffff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 2px solid #DEDEDE;
}

a:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ui-shadow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=117, Color=#000000)"; /*IE 8*/
    -moz-box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.8); /*FF 3.5+*/
    -webkit-box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.8); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.8); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=135, Color=#000000); /*IE 5.5-7*/
}

/* ==========================================================================
DATATABLE e PTABLE
========================================================================== */
.ui-datatable .ui-datatable-thead > tr > th {
    font-family: "Telex", sans-serif !important;
    font-weight: 600;
    border: none;
}

.ui-datatable .ui-datatable-data > tr, .ui-datatable .ui-datatable-data > tr > td {
    border: none;
}

.ui-datatable .ui-datatable-thead > tr > th, .ui-treetable  thead > tr > th,
 .ui-table  .ui-table-thead > tr > th {
	border: 1px solid #b9b9b9;
	background: #e6e4e4 !important;
}

.ui-datatable .ui-datatable-data > tr > td, .ui-treetable  thead > tr > td {
	border: 1px solid #e6e4e4;
}

.ui-table .ui-table-thead > tr > th {
    text-align: center;
}

.ui-table .ui-table-tbody > tr > td {
    border: 1px solid #b9b9b9;
}

.ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #fafafb !important;
}

.columnAcoes {
    text-align: center;
    width: 140px;
 }

.ui-paginator-bottom {
    border: none !important;
}

/* ==========================================================================
SUBTABELA
Usar em uma tabela que estiver dentro de outra
========================================================================== */
.subtabela .ui-table {
    margin: 20px 0 20px 0;
}
.subtabela .ui-button-warning, .subtabela .ui-button-danger {
    background: #fff !important;
    border: none;
    color: #000 !important;
    font-size: 14px !important;
}

.subtabela .ui-table .ui-table-thead > tr > th {
    font-weight: normal;
}

/* ==========================================================================
Menu antigo da Operadora que deverá ser trocado
========================================================================== */
.tabOperadora {
    margin-top: 20px;
    border-top: 1px solid #B5B5B5;
}

.tabOperadora .ui-tabview-left > .ui-tabview-nav {
    width: 17% !important;
}


.ui-tabview-left > .ui-tabview-panels {
    width: 83%;
    margin-top: 20px;
}

.tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav {
    border-bottom: none;
    height: auto !important;
    margin-top: 20px;
}

.tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav li {
    background-color: #E8E8E8;
    border-bottom: 1px solid #B5B5B5;
    border-radius: 0;
    cursor: pointer;
}

.tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #E8E8E8;
    border: none;
    border-right: 7px solid #696969;
    border-bottom: 1px solid #B5B5B5;
}

.tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-default a {
    color: #696969;
    font-weight: bold;
    padding: 0.6em 1em !important;
}

.tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active {
    background-color: #ffffff;
    border: none;
    border-right: 7px solid #0275d8;
}

.tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a {
    color: #0275d8;
    padding: 0.6em 1em !important;
}

/* ==========================================================================
FLAGSTATUS
Usado no componente selectButton
========================================================================== */
.flagStatus {
	display: block;
}

.flagStatus .ui-selectbutton.ui-buttonset .ui-button {
    background-color: lightgray !important;
    border:2px solid #b9b9b9;
    border-radius: 0;
}

.flagStatus .ui-selectbutton.ui-buttonset .ui-button:hover {
    background-color: #ffffff !important;
    color:  #696969;
}

.flagStatus .ui-buttonset.ui-selectbutton .ui-button:first-child {
    border-right: 2px solid #b9b9b9;
}

.flagStatus .ui-selectbutton.ui-buttonset .ui-button.ui-state-active:last-child {
    background-color: #ff2626cc !important;
    border-color: #ff2626cc;
}

.flagStatus .ui-selectbutton.ui-buttonset .ui-button.ui-state-active:first-child {
    background-color: #228B22 !important;
    border-color: #228B22;
}

/* ==========================================================================
LISTBOX
Usado no componente listbox que engloba vários checkboxes
========================================================================== */
.listBox .ui-listbox, 
.listBoxCustomHeader .ui-listbox-filter-container {
    width: 100% !important;
}

.listBoxRemoveHeader .ui-listbox .ui-listbox-header,
.listBoxCustomHeader .ui-listbox .ui-listbox-header .ui-chkbox  {
    display: none !important;
}

.listBox .ui-chkbox .ui-chkbox-box {
    border: 2px solid rgba(0, 0, 0, 0.45);
}

.listBox .ui-chkbox .ui-chkbox-box {
    width: 1.2em;
    height: 1.2em;
}

.listBox.valoracaoContas .ui-listbox .ui-listbox-list-wrapper, 
.listBox.listBoxCamposObrigatorios .ui-listbox .ui-listbox-list-wrapper  {
    min-height: 96px;
}

/* ==========================================================================
Removendo a border bottom vermelha quando o campo esá inválido
========================================================================== */
.ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
 p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, 
 p-calendar.ng-dirty.ng-invalid > .ui-inputtext, p-chips.ng-dirty.ng-invalid > .ui-inputtext, 
 p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, 
 p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
 p-listbox.ng-dirty.ng-invalid .ui-inputtext, p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
 p-spinner.ng-dirty.ng-invalid > .ui-inputtext, 
 p-selectbutton.ng-dirty.ng-invalid .ui-button, p-togglebutton.ng-dirty.ng-invalid .ui-button {
     border-bottom: 2px solid #b9b9b9!important;
 }

/* ==========================================================================
Específico do módulo administrador
========================================================================== */
.tabelaSequencia .ui-datatable .ui-datatable-data > tr > td:first-child {
    color: #373a3c;
    border: 1px solid  #c7c7c7;
    background: #e6e4e4 !important;
    font-weight: bold;
    font-family: "Telex", sans-serif !important;
}

/* ==========================================================================
Inputs que usam o componente de máscara de dinheiro
========================================================================== */
.mascaraDinheiro {
    padding: 4px 9px;
}

/* ==========================================================================
Campos Desabilitados
========================================================================== */
body .ui-state-disabled, 
body .ui-widget:disabled,
input.mascaraDinheiro.ng-untouched.ng-pristine:disabled {
    opacity: 0.85;
}

button.ui-state-disabled {
    opacity: 0.35 !important;
}

/* ==========================================================================
Menu que aparece na Popup de Módulos
========================================================================== */
.sidebar-modulos .ui-sidebar-close {
    font-size: 25px;
    color: red;
}

@media screen and (max-width: 992px) {
    .tabOperadora .ui-tabview.ui-tabview-left .ui-tabview-nav {
        width: 100% !important;
    }
    .ui-tabview-left > .ui-tabview-panels {
        width: 100% !important;
    }    
}

@media screen and (min-width: 768px) { 
    .sidebar-modulos  .ui-sidebar-full {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
    }
}

/* ==========================================================================
NAVEGAÇÃO VERTICAL
Navegação lateral simulando Abas verticais
========================================================================== */
.navegacaoVertical > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    letter-spacing: 0.06em;
}
.navegacaoVertical > ul > li {
    border-bottom: 1px solid  #ffffff;
    border-radius: 0;
    cursor: pointer;
}

.navegacaoVertical > ul > li > a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navegacaoVertical > ul > li > a:hover {
    background-color: #d1d1d1;
    font-weight: bold;
    color: #000000;
    border-right: 7px solid #adadad;
}

.navegacaoVertical > ul > li .active {
    background-color: #ffffff;
    border: none;
    border-right: 7px solid #0275d8;
    font-weight: bold;
    color: #0275d8;
}

/* ==========================================================================
NAVEGAÇÃO HORIZONTAL
Navegação horizontal simulando Abas. Usar quando tiver poucos itens
========================================================================== */
.navegacaoHorizontal > ul {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0.06em;
    border-bottom: 1px solid #ccc;
    height: 35px;
}

.navegacaoHorizontal > ul > li {
    border-radius: 0;
    cursor: pointer;
    float: left;
    padding: 8px 0px;
    background-color: #e5e5e5;
}

.navegacaoHorizontal > ul > li > a {
    display: inline;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}

.navegacaoHorizontal > ul > li > a:hover {
    font-weight: bold;
    color: #000000;
    font-weight: bold;
}

.navegacaoHorizontal > ul > li .active {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #0275d8;
    font-weight: bold;
    color: #0275d8;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

@media screen and (max-width :  992px){
    /* ==========================================================================
    NAVEGAÇÃO VERTICAL MOBILE
    ========================================================================== */
    .navegacaoVertical > ul {
        margin-bottom: 10px;
    }
    .navegacaoVertical > ul > li {
        margin-bottom: 1px;
    }
    .navegacaoVertical > ul > li, .navegacaoVertical > ul > li > a {
        width: 100%;
    }

    /* ==========================================================================
    NAVEGAÇÃO HORIZONTAL MOBILE
    ========================================================================== */
    .navegacaoHorizontal > ul {
        background-color: #f1f1f1;
        letter-spacing: 0.06em;
    }
    .navegacaoHorizontal > ul > li{
        border-bottom: 1px solid  #ffffff;
        padding: 0;
    }
    
    .navegacaoHorizontal > ul > li > a {
        display: block;
    }
    
    .navegacaoHorizontal > ul > li > a:hover {
        background-color: #d1d1d1;
        border-right: 7px solid #adadad;
    }
    
    .navegacaoHorizontal > ul > li .active {
        border: none;
        border-right: 7px solid #0275d8;
        color: #0275d8;
        border-bottom: none;
    }

    .navegacaoHorizontal > ul > li, .navegacaoHorizontal > ul > li > a {
        width: 100%;
    }
}