@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-grey, 50);
$custom-accent: mat-palette($mat-red, 900);
$custom-warn: mat-palette($mat-red, A700);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
// $custom-primary: mat-palette($mat-deep-purple);
// $custom-primary: mat-palette($mat-deep-purple, 50);
// $custom-primary: mat-palette($mat-deep-purple, 600);
// $custom-accent:  mat-palette($mat-lime, 100);
// $custom-accent:  mat-palette($mat-pink);
// $custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);