<div class="col-md-12">
    <div class="input-group body-operadora">
        <span class="input-group-addon logo-box-img">
            <span class="logo-img" [ngClass]="opSelecionada && opSelecionada.id === 1 ? 'operadora-petrobras':'operadora-caixa'"></span>
        </span>
        <p-dropdown [options]="selectOperadoras" [(ngModel)]="opSelecionada" class="form-control no-padding">
            <ng-template let-operadora pTemplate="item" class="ui-shadow">
                <dl class="row-md jh-entity-details animated fadeInDown">
                    <div class="ui-helper-clearfix">
                        <div>{{operadora.label}}</div>
                    </div>
                </dl>
            </ng-template>
        </p-dropdown>
    </div>
</div>




