﻿.operadora-caixa {
    background: url("../../../content/images/operadoras/caixa.png") no-repeat center top;
}

.operadora-petrobras {
    background: url("../../../content/images/operadoras/petrobras.png") no-repeat center top;
}


.logo-box-img {
    background-color: #D3D3D3;
    padding: 2px 10px;
    border: none;
    margin: 0;    
    border-radius: 0px!important;
}

.logo-img {
    width: 16px;
    height: 16px;
    top: 1px;
    left: 5px;    
    background-size: contain;
}

